In [32]:
import pandas as pd
from scipy import stats as st

In [2]:
df = pd.read_csv('E:/fall2021/ait580/proj/Food_Supply_Quantity_kg_Data.csv')

In [19]:
df = df.dropna()

In [20]:
obese = df['Obesity']

In [11]:
obese = obese.dropna()

In [13]:
obese.isna().sum()

0

In [27]:
recovered =(df['Recovered']*df['Population'])

In [28]:
print(recovered)

0        4802700.0
1        5087500.0
2        7433000.0
3        1847500.0
5      177205900.0
6       15957700.0
7        2608600.0
8       40085100.0
9       22496100.0
11      48284100.0
12        134900.0
13      24494100.0
14             0.0
15       1147900.0
16        356300.0
17      16735400.0
18       9712800.0
19       1957400.0
20     842899200.0
21      19319100.0
22       1004000.0
23       1368400.0
24         45400.0
25       2950100.0
27        488500.0
28        284900.0
30       9375200.0
31     202233100.0
32       2095300.0
33      15618100.0
          ...
137     23822100.0
138     15379100.0
139         1000.0
140    134049700.0
141     15037600.0
142      6259400.0
143      2179400.0
144       797400.0
145            0.0
146     31760000.0
149      1694200.0
150         6100.0
151       453500.0
152       725500.0
153     17288500.0
154    241250500.0
156      1434900.0
157    110853000.0
158     30108100.0
159      1018200.0
160        18300.0
161            0.0
162      3846900.0
163      7749000.0
164          100.0
165     12156900.0
166       146800.0
167       142800.0
168      5341000.0
169      2838300.0
Length: 154, dtype: float64

In [29]:
deaths = df['Deaths']*df['Population']

In [30]:
print(deaths)

0        240800.0
1        144600.0
2        290900.0
3         47500.0
5       4911000.0
6        311400.0
7         90900.0
8        799400.0
9        315600.0
11       819000.0
12         1800.0
13       177300.0
14      2135200.0
15        30600.0
16         5500.0
17      1075300.0
18       477500.0
19        16300.0
20     23003400.0
21       931100.0
22        13400.0
23        13500.0
24            0.0
25        47400.0
27         6300.0
28        12500.0
30       482200.0
31      5569300.0
32        80100.0
33       267200.0
          ...
137      513500.0
138      361200.0
139           0.0
140     4618000.0
141     6138600.0
142       35100.0
143      183100.0
144       16000.0
145     1211500.0
146      960600.0
149        7900.0
150           0.0
151        7900.0
152       13500.0
153      716200.0
154     2668500.0
156       32700.0
157     2473500.0
158       91400.0
159    11230500.0
160        2100.0
161    46216900.0
162       48100.0
163       62100.0
164           0.0
165      122800.0
166        3500.0
167       61500.0
168       83900.0
169      131600.0
Length: 154, dtype: float64

In [33]:
st.ttest_ind(obese, recovered, equal_var = False)

Ttest_indResult(statistic=-3.8832882268708717, pvalue=0.0001529365199890348)

In [36]:
odf = pd.DataFrame(obese, recovered, deaths, columns = ['Obese Levels', 'Recovered', 'Deaths'])

TypeError: __init__() got multiple values for argument 'columns'

In [37]:
data = {'Obese':obese, 'Recovered':recovered, 'Deaths':deaths}

In [38]:
odf = pd.DataFrame(data)

In [39]:
odf.head()

   Obese    Recovered     Deaths
0    4.5    4802700.0   240800.0
1   22.3    5087500.0   144600.0
2   26.6    7433000.0   290900.0
3    6.8    1847500.0    47500.0
5   28.5  177205900.0  4911000.0

In [52]:
odf['Obese'] = odf['Obese'].astype('object')
odf['Recovered'] = odf['Recovered'].astype('object')
odf['Deaths'] = odf['Deaths'].astype('object')

In [53]:
odf.dtypes

Obese        object
Recovered    object
Deaths       object
dtype: object

In [68]:
low_obese = odf[odf['Obese']<18.0]
mid_obese = odf[(odf['Obese']>18.0) & (odf['Obese']<35.0)]
high_obese = odf[odf['Obese']>35.0]

In [85]:
low_obese = odf[odf['Obese']<25.0]
high_obese = odf[odf['Obese']>=25.0]

In [69]:
low_obese

    Obese    Recovered       Deaths
0     4.5   4.8027e+06       240800
3     6.8   1.8475e+06        47500
11    3.4  4.82841e+07       819000
16    8.2       356300         5500
19   16.1   1.9574e+06        16300
22    4.5    1.004e+06        13400
23   10.6   1.3684e+06        13500
24    3.5        45400            0
25    9.5   2.9501e+06        47400
27    6.3       488500         6300
28    4.8       284900        12500
30    6.6   9.3752e+06       482200
32    8.4   2.0953e+06        80100
34      9   2.7773e+06        16200
40   12.2       585200         6300
47   13.5   1.1469e+06        60400
48    3.6  1.25531e+07       214500
53   13.4   1.0797e+06         7100
54    8.7       388600        13400
57    9.7   6.3502e+06        44900
61    6.6    1.432e+06         8400
62    8.2       242700         4600
68    3.8  1.05226e+09  1.54996e+07
69    6.9  9.39184e+07   3.1393e+06
76    4.4  3.58716e+07       637300
79      6   8.4302e+06       177600
82    4.9   7.0865e+06       147100
84   15.4   8.1542e+06       142300
85    4.5         4100            0
88   13.5       270600        18300
..    ...          ...          ...
92    4.5   1.8215e+06        28100
93    4.7   1.1348e+06        83700
94   15.3   1.8697e+07        85700
95    7.9   1.4556e+06         5400
96    7.1       605400        33800
98   11.3   1.5985e+06        42500
99   11.5        54000         1000
104     6    2.679e+06        45100
106    15   3.3359e+06        37100
107   3.8  2.67812e+07       203500
112   4.7       395000        16500
113   7.8  1.12557e+07       164700
117   7.8  5.10242e+07   1.1967e+06
121     6  4.88465e+07    1.111e+06
127   4.8   1.2047e+06        21700
132  10.6       106000         1800
134   7.4   2.3292e+06        67500
136   7.5       245200         7900
142   5.4   6.2594e+06        35100
143   7.4   2.1794e+06       183100
149  10.8   1.6942e+06         7900
150   2.9         6100            0
151   7.1       453500         7900
156   4.1   1.4349e+06        32700
160   7.1        18300         2100
163  15.3    7.749e+06        62100
166   2.1       146800         3500
167  14.1       142800        61500
168   6.5    5.341e+06        83900
169  12.3   2.8383e+06       131600

[61 rows x 3 columns]

In [86]:
#welch's t-test
st.ttest_ind(low_obese['Recovered'], high_obese['Recovered'], equal_var = False)

Ttest_indResult(statistic=-1.105786785556177, pvalue=0.27076297453957765)

In [74]:
len(mid_obese['Recovered'])

89

In [78]:
fvalue, pvalue = st.f_oneway(low_obese['Recovered'], mid_obese['Recovered'], high_obese['Recovered'])

In [79]:
print(pvalue)

0.5021740973488118

In [84]:
print(list(high_obese['Recovered']))

[16109300.000000015, 200.0, 0.0]